<div class="loginDiv" *ngIf="( authApp.user | async) as obs; else login">{{obs.email}}
  <br/><br/>
  <button class="btn btn-secondary" (click)="authApp.logout()">OUT</button>
  <button class="btn btn-success" (click)="dbApp.altausuario(obs)"><i class="fas fa-check"></i> ALTA</button>
  <button class="btn btn-danger" (click)="dbApp.bajausuario(obs)"><i class="far fa-trash-alt"></i> BAJA</button>
  <button class="btn btn-secondary" (click)="setValores(obs)"><i class="fad fa-shopping-basket"></i>Cargar Lista</button>
  <br/><br/>

  <h1>Productos a comprar:</h1>
  <div *ngFor="let producto of productos index as i;">
    <button  *ngIf="productos[i].comprado" class="myButton2" (click)="setFalse(obs,i)" >{{productos[i].nombre}}</button>
  </div>
  <hr>
  <hr>
  <h1>Productos:</h1>
  <div *ngFor="let producto of productos index as i;">
    <button  *ngIf="!productos[i].comprado" class="myButton" (click)="seTrue(obs,i)" >{{productos[i].nombre}}</button>
  </div>

</div>
<ng-template #login>
  <div class="loginDiv">
    <h3>Métodos de Acceso:</h3>
    <br/><br/>
    <button class="btn btn-primary" (click)="authApp.login()">
      <i class="fab fa-github"></i>
      GitHub Login</button>
    <br/><br/>
    <button class="btn btn-danger" (click)="authApp.glogin()">
      <i class="fab fa-google"></i>
      Google Login
    </button>
  </div>
</ng-template>
